/* Styles for entire site, alphabetical order */

a {
	color:#999;
}
a:hover {
	color:black;
}
body {
	position:relative; /* for scroll spy where appropriate */
}
body, html {
	font-family: 'Ubuntu', sans-serif;
}
.bottom-content > div {
	padding:50px;
	min-height:250px;
	font-size:16px;
}
.brand {
	color:#7FA5CC;
}
.bt-default-anchor {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	position: relative;
    display: block;
}
.btn {
	padding:10px 16px;
}
.btn-default {
	background-color:#cca67f;
	border:1px solid #bd8d5b;
	color:white;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
	background-color:#bd8d5b;
	color:white;
}
.contact-us-main {
	background-size: cover;
	min-height:500px;
	margin-bottom:10px;
	color:white;
}
.contact-us-main .contact-block-1 {
	border-right:5px solid rgba(211,211,211);
} 
.contact-container {
	background-color:rgba(211,211,211,.5);
	border:1px solid transparent;
	border-radius:5px;
	overflow:hidden;
	width:80%;
	margin:15px auto;
	padding:15px;
}
.contact-container textarea {
	height:75px;
}
.contact-content {
	padding-left:15px;
}
.animated {
	-webkit-animation-duration: .7s;
	-moz-animation-duration: .7s;
	-ms-animation-duration: .7s
	-o-animation-duration: .7s;
	animation-duration: .7s;
}
.delay {
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-ms-animation-delay: .2s;
	-o-animation-delay: .2s;
	animation-delay: .2s;
}
.delay-1 {
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	-ms-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
}
.delay-2 {
	-webkit-animation-delay: .6s;
	-moz-animation-delay: .6s;
	-ms-animation-delay: .6s;
	-o-animation-delay: .6s;
	animation-delay: .6s;
}
.divider {
	height:2px;
	width:90%;
	margin:5px auto;
	border-top:4px solid #dfe9f2;
	border-right:4px solid transparent;
	border-left:4px solid transparent;
}
footer {
	margin-bottom:15px;
	color:black;
	font-size: 14px;
}
footer ul {
	margin:0;
	padding:2px;
	list-style-type: none;
}
footer a {
	color:#999;
}
footer a:hover {
	color:black;
}
.footer-block {}
.half {
	width:50%;
	float:left;
}
.heading {
	font-family: 'Cabin', sans-serif;
	font-style: italic;
}
.image-row {
	width:90%;
	margin:15px auto;
}
.image-row img {
	max-width:60%;
}
.logo-collage {
	width:70%;
	margin:5px auto;
}
.logo-collage img {
	width:100%;
}
.main {
	position:relative;
}
#main-bg {
	height:400px;
	width:100%;
}
.main-bg-overlay {
	background-color: rgba(127,165,204,.2);
	height:400px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	color:white;
	font-size:4em;
}
.main-content {
	position:absolute;
	left:0;
	right:0;
	top:15%;
	bottom:0;
}
.main-content-nav {
	position:absolute;
	bottom:50px;
	left:0;
	right:0;
	width:98%;
	margin:0 auto;
}
.main-navigation {
	margin-bottom:0;
	border-bottom:1px solid #D3D3D3;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(211,211,211,1);
-moz-box-shadow: 0px 2px 5px 0px rgba(211,211,211,1);
box-shadow: 0px 2px 5px 0px rgba(211,211,211,1);
}
.nav > li > a:hover {
	background-color:transparent;
	color: #737373;
}
.navbar-brand {
	height:auto;
}
.nav-fixed {
	position:fixed;
}
.pitch-desc .brand {
	font-size:1.2em;
}
.pitch-image {
	padding:25px;
}
.pitch-image img {
	display:inline-block;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(147,147,147,1);
-moz-box-shadow: 4px 4px 5px 0px rgba(147,147,147,1);
box-shadow: 4px 4px 5px 0px rgba(147,147,147,1);
border:1px outset #d3d3d3;
width:100%;
max-height:250px;
}
.pitch-text {
	padding:25px;
	width:75%;
	float:none;
	margin-left:auto;
	margin-right:auto;
}
#row2,
#row3,
#row4,
#row5 {
	visibility: hidden;
}
#row5 {
	/*background:url(/static/img/final_pitch_bg_para.jpeg) no-repeat;
	background-size: cover;
	background-attachment: fixed;*/
}
.row.panel {
	width:90%;
	margin:0 auto;
}
.secondary-link {
	background-color:rgba(189,189,189,.7);
	width:95%;
	margin: 0 auto;
	border-radius:5px;
	border: 2px solid transparent;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.secondary-link a {
	color:white;
	display:block;
	padding: 10px 15px;
}
.secondary-link a:hover {
	text-decoration: none;
}
.secondary-navigation {
	text-align:center;
	font-style:normal;
	font-size:18px;
}
.side-nav {
	list-style: none;
	padding:5px;
	border-right: 1px solid #E4E4E4;
}
.side-nav > li {
	padding:5px;
} 
.side-nav .active {
	display:inline-block;
	font-size:16px;
	color:#cca67f;
}
.single-pitch-block {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	float:none;
}
.text-shadow {
	text-shadow: 2px 2px 5px rgba(100, 100, 100, 1);
}
#top-nav {
	margin-top:15px;
}
.vertical-divider {
	width:1px;
	background-color:black;
}

/** browser overrides **/
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}